body {
    background-color: black;
    font-family: 'Poppins';
    color: white;
    margin: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider {
    width: 100%;
}
h1{
    text-align: center;
    font-size: 50px;
}
  
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.coin {
    width: 150px;
    margin: 5px;
    text-align: center;
}
.double {
    display: flex;
    flex-direction: row; /* Arrange images in a row */
    justify-content: center; /* Center align images within the "double" class */
}
  
.double img {
    margin: 0 2.5px; /* Add 5px separation between images */
    width: 50%;
}
img {
    width: 100%;
    height: auto;
}
button {
    width:20%;
    font-family: 'Poppins';
    background-color: #ffffff;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: block;
}
footer {
    text-align: center;
  }
  
  footer .copyright {
    display: inline-block;
  }
  
